
<table class="table table-light mt-2">
  <thead class="border-0 border-bottom">
    <tr>
      <th class="text-center" colspan="2">
        <h3 class="fs-3">Tabla de valores</h3>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope="col">Valor Wow Token</th>
      <td scope="col" class="text-end">
        {{ tokenValue | currency : "u$s" }}
      </td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Valor Dolar Ofical</th>
      <td class="text-end">
        {{ dolarValue.oficial | currency }}
      </td>
    </tr>
    <tr class="table-info">
      <th scope="row">Valor Dolar Blue</th>
      <td class="text-end">
        {{ dolarValue.blue | currency }}
      </td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Wow Token</th>
      <td class="text-end">
        {{ wowToken.price / 10000 | number }}
        <img
          class="pb-1"
          src="https://wow.zamimg.com/images/icons/money-gold.gif"
          alt=""
        />
      </td>
    </tr>
    <tr class="table-info">
      <th scope="row">Oro por dolar</th>
      <td class="text-end">
        {{ dolarGold / 10000 | number : "1.0-2" }}
        <img
          class="pb-1"
          src="https://wow.zamimg.com/images/icons/money-gold.gif"
          alt=""
        />
      </td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Oro por Peso Argentino</th>
      <td class="text-end">
        {{ pesoGold / 10000 | number : "1.0-2" }}
        <img
          class="pb-1"
          src="https://wow.zamimg.com/images/icons/money-gold.gif"
          alt=""
        />
      </td>
    </tr>
  </tbody>
</table>



